.friend {
    display: flex;
    overflow: hidden;
    align-items: center;
    margin: 0 -0.5rem;
}

.name {
    flex-grow: 0;
    padding: 0 0.5rem;
    font-weight: 600;
}

.lastCoffee {
    flex-grow: 1;
    text-align: right;
    font-style: italic;
    padding: 0 0.5rem;
}

.action {
    flex-grow: 0;
    padding: 0 0.5rem;
}

.icon {
    width: 1rem;
}
