.friend {
    display: flex;
    overflow: hidden;
    align-items: center;
    margin: 0 -0.5rem;
}

.name {
    flex-grow: 0;
    padding: 0 0.5rem;
    font-weight: 600;
}

.lastCoffee {
    flex-grow: 1;
    text-align: right;
    font-style: italic;
    padding: 0 0.5rem;
}

.coffeeIcon {
    flex-shrink: 0;
    width: 1rem;
}

.action {
    flex-grow: 0;
    padding: 0 0.5rem;
}

.button {
    padding: 0.25rem;
    background-color: lightsteelblue;
    border: 1px solid transparent;
    cursor: pointer;
    transition: background-color 0.25s;

    height: 1.5rem;
    overflow-y: visible;

    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

.button:hover {
    background-color: #8897b0;
}
