.button {
    display: flex;
    height: 2rem;
    padding: 0.25rem;
    background-color: lightsteelblue;
    border: 1px solid transparent;
    cursor: pointer;
    transition: background-color 0.25s;
    outline: none;

    &:hover {
        background-color: #c0d5ef;
    }
}

.loader {
    width: 1rem;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
